---
import Layout from '../layouts/Layout.astro';
import Navvar from '../components/Navvar.astro';
import Intro from '../components/Intro.astro';
import ExperienciaLaboral from '../components/ExperienciaLaboral.astro';
import Proyectos from '../components/Proyectos.astro';
import SobreMi from '../components/SobreMi.astro';
import MainButton from '../components/Buttons/MainButton.astro';
import UpButton from '../components/Buttons/UpButton.astro';
import Footer from '../components/Footer.astro';
import AllSkills from '../components/AllSkills.astro';
---

<Layout title="DiegoDev - Portfolio">
	<main>
		<Navvar />
		<Intro />
		<ExperienciaLaboral />
		<Proyectos />
		<SobreMi />
		<MainButton link='mailto:diegosanchez.dev018@gmail.com'>
			<span>Contactame</span>
		</MainButton>
		<UpButton />
		<AllSkills />
		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(85, 85, 85);
		font-size: 20px;
		line-height: 1.6;
	}
</style>
