---
---
<section class="mb-80 cursor-default" id="experience">
    <h2 class="text-4xl font-semibold"><i class="fa-solid fa-briefcase mr-4"></i>Experiencia Laboral</h2>
    <div class="flex">
        <div class="w-2 h-auto bg-gray-700 opacity-80 mr-9 ml-4"></div> <!-- Line -->
        <ul class="mb-8">
            <li class="mt-5">
                <h4 class="text-3xl font-extrabold m-0 opacity-80">2023</h4>
                <h3 class="text-4xl font-semibold m-0">Practicas Profesionales</h3>
                <p class="text-xl m-0">Realice mis practicas profesionales en el palacio municipal del municipio de Centro, Tabasco. Como ayudante en arreglo y mantenimiento de computadoras. Además de ayuda a la virtualización de documentos físicos.</p>
            </li>
            <li class="mt-5">
                <h4 class="text-3xl font-extrabold m-0 opacity-80">2024</h4>
                <h3 class="text-4xl font-semibold m-0">Ensamblaje de Computadoras</h3>
                <p class="text-xl m-0">Realice trabajos de ensamblaje de computadoras de escritorio (Pcs) a diferentes personas (Aproximadamente 5), desde computadoras básicas hasta computadoras gamers con mayor dificultad.</p>
            </li>
        </ul>
    </div>
</section>