---
---

<footer class="flex items-center justify-center mt-20 opacity-60 cursor-default hover:opacity-100 transition-opacity">
    <p class="">
        2024 "Portafolio Web" Diego Ronaldo Sánchez Pichardo. Gracias por ver.
    </p>
</footer>