---
import MainButton from "./Buttons/MainButton.astro"
---
<section class="flex flex-col items-center justify-center mt-80 mb-80 cursor-default" id="intro">
    <h1 class="text-7xl font-bold mb-2"><span class="text-5xl font-semibold mr-8">¡Hola!</span>Soy DiegoDev</h1>
    <p class="text-3xl p-0 opacity-80">Estudiante de Ingeniería en Desarrollo de Software.</p>
    <p class="text-3xl p-0 opacity-80">Programando desde los 16 años.</p>
    <p class="text-3xl p-0 opacity-80">Apasionado por la Tecnología!</p>
    <div class="mt-6">
        <MainButton link='https://www.linkedin.com/in/diego-ronaldo-sanchez-pichardo-803a1a317/'>
            <span>Linkedin</span>
        </MainButton>
    </div>
</section>
