---
---
<header class="fixed top-0 left-1/2 transform -translate-x-1/2 w-full md:w-auto z-50 py-4">
    <nav class="flex justify-center">
        <ul class="flex bg-gray-900 rounded-xl max-w-fit justify-between items-center pl-2 pr-2 pt-1 pb-1">
            <li class="cursor-pointer text-white transition-transform hover:scale-110 active:scale-100 duration-250 font-bold ml-4 mr-4"><a href="#experience">Experiencia</a></li>
            <li class="cursor-pointer text-white transition-transform hover:scale-110 active:scale-100 duration-250 font-bold ml-4 mr-4"><a href="#projects">Projectos</a></li>
            <li class="cursor-pointer text-white transition-transform hover:scale-110 active:scale-100 duration-250 font-bold ml-4 mr-4"><a href="#about-me">Sobre mí</a></li>
        </ul>
    </nav>
</header>

<script>
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
        anchor.addEventListener('click', (e) => {
          e.preventDefault();

          const targetId = anchor.getAttribute('href')?.substring(1);
          
          if (targetId) {
            const targetElement = document.getElementById(targetId);
            
            if (targetElement) {
              const targetPosition = targetElement.getBoundingClientRect().top + window.scrollY;
              const offsetPosition = targetPosition - (window.innerHeight / 2) + (targetElement.offsetHeight / 2);

              window.scrollTo({
                top: offsetPosition,
              });
            }
          }
        });
      });
    });
</script>