---
const TAGS = {
    HTML: {
        name: "HTML",
        icon: "fa-brands fa-html5",
        color: "bg-red-500"
    },
    CSS: {
        name: "CSS",
        icon: "fa-brands fa-css3-alt",
        color: "bg-blue-500"
    },
    JS: {
        name: "JS",
        icon: "fa-brands fa-js",
        color: "bg-yellow-500"
    },
    PYTHON: {
        name: "Python",
        icon: "fa-brands fa-python",
        color: "bg-green-500"
    },
    GIT: {
        name: "Git",
        icon: "fa-brands fa-git-alt",
        color: "bg-gray-500"
    },
    C: {
        name: "C",
        icon: "fa-sharp fa-solid fa-c",
        color: "bg-gray-500"
    }
}

const PROJECTS = [

]

---
<section class="mb-80 cursor-default" id="projects">
    <h2 class="text-4xl font-semibold"><i class="fa-solid fa-diagram-project mr-4"></i>Proyectos</h2>
    <ul class="flex justify-around mt-4">
        <li><button class="bg-gray-700 items-center pt-2 pb-1 pr-4 pl-4 rounded-xl text-white hover:shadow-black hover:shadow-sm hover:scale-110 hover:text-slate-900 hover:bg-slate-50 transition-all active:scale-100 active:text-yellow-500"><i class="fa-brands fa-html5 mr-2"></i>HTML</button></li>
        <li><button class="bg-gray-700 items-center pt-2 pb-1 pr-4 pl-4 rounded-xl text-white hover:shadow-black hover:shadow-sm hover:scale-110 hover:text-slate-900 hover:bg-slate-50 transition-all active:scale-100 active:text-yellow-500"><i class="fa-brands fa-css3-alt mr-2"></i>CSS</button></li>
        <li><button class="bg-gray-700 items-center pt-2 pb-1 pr-4 pl-4 rounded-xl text-white hover:shadow-black hover:shadow-sm hover:scale-110 hover:text-slate-900 hover:bg-slate-50 transition-all active:scale-100 active:text-yellow-500"><i class="fa-brands fa-js mr-2"></i>JS</button></li>
        <li><button class="bg-gray-700 items-center pt-2 pb-1 pr-4 pl-4 rounded-xl text-white hover:shadow-black hover:shadow-sm hover:scale-110 hover:text-slate-900 hover:bg-slate-50 transition-all active:scale-100 active:text-yellow-500"><i class="fa-brands fa-python mr-2"></i>Python</button></li>
        <li><button class="bg-gray-700 items-center pt-2 pb-1 pr-4 pl-4 rounded-xl text-white hover:shadow-black hover:shadow-sm hover:scale-110 hover:text-slate-900 hover:bg-slate-50 transition-all active:scale-100 active:text-yellow-500"><i class="fa-brands fa-git-alt mr-2"></i>Git</button></li>
        <li><button class="bg-gray-700 items-center pt-2 pb-1 pr-4 pl-4 rounded-xl text-white hover:shadow-black hover:shadow-sm hover:scale-110 hover:text-slate-900 hover:bg-slate-50 transition-all active:scale-100 active:text-yellow-500"><i class="fa-sharp fa-solid fa-c mr-2"></i>C</button></li>
    </ul>
</section>
