---
import Image from 'astro/components/Image.astro';
import MYPFP from '../../public/mypfp.jpg';
---
<section class="mb-80 cursor-default" id="about-me">
    <h2 class="text-4xl font-semibold mb-4"><i class="fa-solid fa-user mr-4"></i>Sobre Mi<span class="font-normal ml-4 opacity-75 text-xl md:text-2xl">¡Mi nombre es Diego Ronaldo Sanchez Pichardo!</span></h2>
    <main class="md:grid md:grid-cols-5">
        <p class="w-auto col-span-3 pr-5 text-4xl leading-none text-center md:text-left md:text-base">
            A los 14 años, gracias a mi gusto por los videojuegos, me adentre en el mundo de la computación, empezando por los aspectos básicos de las computadoras de escritorio, desde sus componentes, como se arman, el mantenimiento correcto, entre otros aspectos relacionados.<br><br>A los 16 años empecé a estudiar programación de manera autodidacta, pasando por diferentes cursos en academias online como Mastermind.ac y Udemy.<br><br>Actualmente dedico mi tiempo libre para estudiar desarrollo de software, mejorar mis habilidades y desarrollar proyectos prácticos y avanzando en mi curso por la carrera de Ingeniería en Desarrollo de Software.
        </p>
        <Image class="flex rounded-xl mt-6  bg-slate-600 col-span-2 hover:scale-95 hover:shadow-slate-600 hover:shadow-md hover:rotate-2 duration-300 transition-all size-80 lg:size-auto md:mt-0 mx-auto" src={MYPFP} alt="Yo" />
    </main>
</section>
